SAFE_DIRECTORY=/Users/boleyn/Downloads/fs-reader
MAX_FILE_SIZE_MB=100
DEFAULT_ENCODING=utf-8

# 向量嵌入API配置
OPENAI_EMBEDDINGS_API_KEY=
OPENAI_EMBEDDINGS_BASE_URL=
EMBEDDING_MODEL_NAME=BAAI/bge-m3
EMBEDDING_CHUNK_SIZE=1000
